.bg-clr{
  background-image: url("bg.jpeg");
  height: 95vh;
  width: 99vw;
  background-size: cover;
  padding-top: 10px;
  display: flex;
}
.ipod-bg-color{
  height: 95%;
  width: 28%;
  border: 2px rgb(37, 36, 36) solid;
  margin: auto;
  border-radius: 30px;
  background-image: url("ipodback.jpg");
  background-size: cover;
  box-shadow: 2px 5px 10px rgb(39, 25, 25);
  animation: rotate 0.5s ease-in-out 1;
}
@keyframes rotate {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(360deg); /* 2 full rotations */
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.screen-container{
  width: 90%;
  height: 55%;
  background-color: aliceblue; 
  margin : auto;
  margin-top: 10px;
  border-radius: 15px;
  background-image: url("apple.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.menu-container{
  background-color: rgb(237, 235, 245);
  height: 100%;
  box-shadow: 1px 0.8px 15px black;
  border-radius: inherit;
  left: 0%;
  width: 0%;
  overflow-x: hidden;
  transition:all  0.3s ease-in;
  margin-bottom: 0px;
  position: absolute;
  z-index: 8;
}

.width-50{
  width: 50%;
}
.ipod-menu{
  background-color: rgb(155, 30, 2);
  margin: 0;
  color: rgb(240, 243, 245);
  font-size: 26px;
  margin: auto;
  /* margin-bottom: 0px; */
  
}
.ipod-menu h3{
  margin: auto;
}

.ipod-menu hr{
  margin: auto;
}
.menu-items div{
  background-color: rgb(44, 8, 69);
  color: rgb(235, 239, 245);
  margin: auto;
  height: 50px;
}
.menu-items hr{
  margin: auto;
}
.menu-items div h2{
  margin: auto;
}
.select{
  background-color: rgb(224, 235, 238) !important;
  color: rgb(4, 27, 47) !important    ;

}
/* ?//////////////////////////////////////////////////////////// */
.button-container{
  background-color: rgb(174, 195, 196);
  height: 40%;
  width: 62%;
  margin: auto;
  margin-top: 15px;
  border-radius: 150px;
  position: relative;
}
  
.btn-animi{
  animation: pop 7s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes pop {
  0%{
      background-color: rgb(160, 114, 101);
  }
  25%{
      background-color: rgb(192, 154, 225);
  }
  50%{
      background-color: rgb(141, 210, 240);
  }
  
  100%{
      background-color: rgb(135, 232, 187);
  }
}
.button-container i{
  color: rgb(27, 27, 66);
  font-size: 20px;
}
.menu{
  position: absolute;
  left:45%;
  top:10%
}
.backward{
  position: absolute;
  left:5%;
  top:45%

}
.forward{
  position: absolute;
  left:80%;
  top:45%

}
.pp{
  position: absolute;
  left:45%;
  top: 80%;

}
.center-btn{
  height:40%;
  width: 40%;
  background-color: aliceblue;
  position: absolute;
  left: 30%;
  top:30%;
  border-radius: 60%;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.center-btn p{
  margin-top: 30px;
}
.sng-container{
  height: 100%;
  width: 100%;
  background-color: rgb(9, 12, 46);
  box-sizing: border-box;
overflow: hidden; 
  border-radius: inherit;
  position: absolute;
  left:0;
  top: 0;

} 
.all-songs-heading{
  background-color: rgb(64, 35, 35);
  color: aliceblue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}
.all-songs-heading h1{
  margin:0;
}
.song h3{
  color: aliceblue;
  text-align: center;
  
  margin: auto;
}
.song{
  padding-bottom: 10px;
}
.guide{
  color: white;
  animation: disco 2s ease-in-out infinite ;
}

@keyframes disco {
  0% {
      color: rgb(230, 91, 11);
  }
  100% {
      color: rgb(255, 0, 0); 
  }
  
}
.sel-song{
  background-color: aliceblue;
  color: rgb(26, 8, 44);
  text-align: center;

}
.music-container{
  height: 100%;
  width: 100%;
  background-color: rgb(241, 135, 69);
  border-radius: inherit;
  text-align: center;
  /* margin: inherit; */
  z-index: 1;
  position: absolute;
  left:0;
  top: 0;
}
.sid{
  height:150px;
  width: 130px;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 1px 0.8px 15px black;
  margin-bottom: 8px;
}